.settings
target
.project
.classpath
*.iml
.idea
_*.sh
*.local
*.localz
es.properties
*.zip
*.versionsBackup
bin
mock*.log
mock.log.*
.mvn/maven.config
.flattened
logs
*.log
APP_LOG_HOME_IS_UNDEFINED
application-local.properties
.allure
.allure/*
allure-results/*
*-result.json
server/src/main/resources/webapps