<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <!-- Kun for husbruk -->
    <!-- Application log -->
    <appender name="APP_FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>mock.log</File>
            <encoder>
                <pattern>%d [%-5level] [%thread] %logger{5} - [%X{consumerId}, %X{callId}, %X{userId}] - %m%n</pattern>
                <!--
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %class %mdc %m\n</pattern>
                -->
            </encoder>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>INFO</level>
            </filter>
            <prudent>false</prudent>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- Daily rollover, (%d gir filnavn med default pattern yyyy-MM-dd) -->
                    <fileNamePattern>mock.log.%d{yyyy-MM-dd}</fileNamePattern>
                    <!-- Keep 30 days of history: -->
                    <maxHistory>30</maxHistory>
            </rollingPolicy>
    </appender>

    <!-- Error log -->
    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>mock_error.log</File>
        <encoder>
            <pattern>%d [%-5level] [%thread] %logger{5} - [%X{consumerId}, %X{callId}, %X{userId}] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <prudent>false</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover, (%d gir filnavn med default pattern yyyy-MM-dd) -->
            <fileNamePattern>mock_error.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!-- Keep 30 days of history: -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
  
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	            <level>ERROR</level>
	        </filter>
            <syslogHost>localhost</syslogHost>
            <facility>LOCAL1</facility>
            <suffixPattern>fpsak %mdc %logger{30} [%X{consumerId}, %X{callId}, %X{userId}] %replace(%msg){'[\r\n]+', '\\n'} %n %X{prosess} %rEx</suffixPattern>
            <throwableExcluded>true</throwableExcluded>
    </appender>
    
    <logger name="no.nav" level="${log.level.no.nav:-INFO}" />

    <!-- skru paa for aa logge all sql statements med parametere -->
    <logger name="jdbc.sql" level="${log.level.jdbc.sql:-ERROR}" />
    <logger name="org.hibernate.SQL" level="${log.level.org.hibernate.SQL:-WARN}" />
    <logger name="com.zaxxer.hikari" level="${log.level.com.zaxxer.hikari:-WARN}" />
    <logger name="org.hibernate.type" level="${log.level.org.hibernate.type:-WARN}" />
    <logger name="org.hibernate" level="${log.level.org.hibernate:-WARN}" />
    <logger name="ch.qos.logback" level="${log.level.ch.qos.logback:-WARN}" />
    <logger name="org.flywaydb" level="${log.level.org.flywaydb:-INFO}" />
    <logger name="org.apache" level="${log.level.org.apache:-ERROR}" />

    <logger name="org.jboss.weld" level="${log.level.org.jboss.weld:-WARN}" />
    <logger name="org.jboss.resteasy" level="${log.level.org.jboss.resteasy:-WARN}" />

    <logger name="no.nav.modig" level="${log.level.no.nav.modig:-WARN}" />

    <!-- denne logger passord på INFO nivå!-->
    <logger name="no.nav.modig.core.test.PropertySetter" level="${log.level.no.nav.modig.core.test.PropertySetter:-WARN}" />

    <root level="${log.level.root:-INFO}">
        <appender-ref ref="APP_FILE_LOG" />
        <appender-ref ref="ERROR_LOG" />
        <appender-ref ref="SYSLOG" />
    </root>
</configuration>
