OICD_LOGIN_PASSWORD=
OPENAM_USERNAME_BESLUTTER=
OPENAM_PASSWORD_BESLUTTER=
OPENAM_USERNAME_SAKSBEHANDLER=
OPENAM_PASSWORD_SAKSBEHANDLER=
OPENAM_USERNAME_KODE6=
OPENAM_PASSWORD_KODE6=
OPENAM_USERNAME_KODE7=
OPENAM_PASSWORD_KODE7=
OPENAM_USERNAME_OVERSTYRER=
OPENAM_PASSWORD_OVERSTYRER=
OPENAM_USERNAME_EGENANSATT=
OPENAM_PASSWORD_EGENANSATT=
OPENAM_USERNAME_KLAGEBEHANDLER=
OPENAM_PASSWORD_KLAGEBEHANDLER=
OPENAM_USERNAME_VEILEDER=
OPENAM_PASSWORD_VEILEDER=
SELENIUM_DRIVER_DIR=