name: Snyk vulnerabilities scanning of dependencies
on:
  schedule:
    - cron: '0 0 * * 6'
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/snyk.yml'

jobs:
  snyk:
    name: Snyk
    uses: navikt/fp-gha-workflows/.github/workflows/snyk.yml@main
    with:
      build-version: latest
    secrets: inherit
